@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.card {
    margin: 10px;
    text-align: center;
}

.card:hover{
    color: rgb(92, 166, 226);
    cursor: pointer; 
}

.h-opcoes {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.mapa {
    max-width: 200px;
    max-height: 250px;
}
 a {
     text-decoration: none;
     color: black;
 }